body{
    background-color:burlywood;
}

.principal{
    margin-bottom: 30px;
    background-image: url(../imagenes/fondo_proyecto.jpg);
    background-size: 900px;
    background-position:center;
    background-repeat: no-repeat;
    height: 300px;
}
.contCart{
    display: flex;
}
.contCart p{
    font-weight:bolder;
    color:red;
}
.contItemList{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
.contItemList img{
    width: 160px;
    height: 160px;
}
.contProd{
    margin: 20px;
}

.fila{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.estiloCard{
    display: flex;
    align-items: center;
    margin: 8px;
    background-image: url(../public/hermoso-fondo-blanco-formas-lineas-doradas_1017-27145.avif);
}

.cardTitle{
    font-weight: bolder;
    font-style: oblique;
    color:black
}

.cardPrice{
    color: darkgoldenrod;
    font-weight:800;
    
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    align-items: center;
}

.btn{
    margin: 10px;
}

.form-control{
    width: 450px; 
}
